.bg-img1 {
    background-color: #000;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-image: url(img/slide3.jpg);
    background-repeat: no-repeat;
}

.bg-img2 {
    background-color: #000;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-image: url(img/slide3.jpg);
    background-repeat: no-repeat;
}

.bg-img3 {
    background-color: #000;
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-image: url(img/slide3.jpg);
    background-repeat: no-repeat;
}
